/*reset básico de CSS*/

/* Existe um site onde é possível descobrir alguns truques de CSS. O link é esse https://css-tricks.com/ */
:root {
    --black: #111;
    --text-color: #FFF;
    --bg-url: url(./assets/bg-mobile.jpg);
    --stroke-color: rgba(255, 255, 255, 0.5);
    --surface-color: rgba(255, 255, 255, 0.05);
    --surface-color-hover: rgba(255, 255, 255, 0.02);
    --highlight-color: rgba(255, 255, 255, 0.2);
    --switch-bg-url: url(./assets/moon-stars.svg);   
}

* {
  margin: 0;
  padding: 0;
  /* A linha abaixo faz com que a não seja estourado as medidas que podem ser aplicadas posteriormente. Se for definida o tamanho de uma div, por exemplo, ao aplicar um padding os espaços irão respeitar o tamanho estabelecido. */
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

html {
  /*Ajustando o tamanho dos textos para rem*/
  font-size: 62.5%;
  /*scroll mais suave*/
  scroll-behavior: smooth;
}

body {
  /* background: var(--bg-url) no-repeat top center/cover; */
  /* background: var(--bg-color-gradient); */
  height: 100vh;
  
  font-size: 1.6rem;
  line-height: 1.5;
  text-decoration: none;

  -webkit-animation: color-change-3x 10s linear infinite alternate both;
	        animation: color-change-3x 10s linear infinite alternate both;
}

/* Adiconando um modo claro no site */
.bg-light {
    --text-color: #000;
    /* --bg-url: url(./assets/bg-mobile-light.jpg); */
    --stroke-color: rgba(0, 0, 0, 0.5);
    --surface-color: rgba(0, 0, 0, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --highlight-color: rgba(0, 0, 0, 0.1);
    --switch-bg-url: url(./assets/sun.svg);

    -webkit-animation: color-change-3x-light 10s linear infinite alternate both;
	        animation: color-change-3x-light 10s linear infinite alternate both;
}

body * {
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
}

#container {
    width: 100%;
    max-width: 580px;

    margin: 0 auto;
    margin-top: 56px;
    padding: 0 2.4rem;
}

/* uma forma diferente de alinhar tags em elementos do tipo block é utilizar o text-align */
#profile {
    text-align: center;
    padding: 24px;
}

#profile img {
    height: 112px;
    width: 112px;


    border-radius: 50%;
    border: 2px solid #fff
}

#profile p {
    font-size: 2.2rem;
    font-weight: 500;

    /* tag relacionada ao espaçamento de linhas */
    line-height: 2.4rem;
    margin-top: .8rem;

    /* animação de texto */
    -webkit-animation: focus-in-contract-bck 8s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate-reverse backwards;
	        animation: focus-in-contract-bck 8s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate-reverse backwards;
}

/* switch */
#switch {
    /* O posicionamento do botão vai ser referente ao tamanho da div que ele é filho no caso a switch por isso ela recebe o position relative */
    position: relative;
    width: 6.4rem;

    margin: .4rem auto;
}

#switch button {
    width: 3.2rem;
    height: 3.2rem;
    background: #fff var(--switch-bg-url) no-repeat center;
    border: none;
    border-radius: 50%;


    /* Essa estrategia alinha o botão ao centro da div */
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);
    cursor: pointer;

    animation: slide-back 0.2s;
}

#switch button:hover {
    outline: .8rem solid var(--highlight-color);
}

.bg-light #switch button {
    animation: slide-in .4s forwards;
}


.bg-light  button:hover {
    outline: .8rem solid var(--highlight-color);
}

#switch span {
    /* por ser um tag inline o display do span deve ter o display block para conseguir aceitar um tamanho e altura fixa */
    display: block;
    width: 6.4rem;
    height: 2.4rem;

    background: var(--surface-color);
    border: .1rem solid var(--stroke-color);
    backdrop-filter: blur(.4rem);
    -webkit-backdrop-filter: blur(.4rem);
    border-radius: 9999px;

    transition: 2s linear;
    cursor: pointer;
}

/* configurando a lista de links */
ul {
    /* removendo o stilo padrão da lista, no caso, os bullets que ficam na esquerda */
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    padding: 2.4rem 0;
}

/* li são elemntos em bloco */
ul li a {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1.6rem 2.4rem;

    background: var(--surface-color);
    border: .1rem solid var(--stroke-color);
    border-radius: .8rem;

    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    font-weight: 500;
    transition: .2s linear;
}

ul li a:hover {
    background: var(--surface-color-hover);
    border: 1.5px solid var(--text-color);

    /* adicionando animações aos links */
    -webkit-animation: shake-horizontal 1.2s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	animation: shake-horizontal 1.2s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

/* Links das redes sociais */
#social-links {
    display: flex;
    justify-content: center;
    gap: 1.6rem;

    padding: 2.4rem 0;
    font-size: 2.4rem;
}

#social-links a {
    display: flex;
    justify-content: center;
    padding: 16px;
    border-radius: 50%;
}

#social-links a:hover {
    background: var(--highlight-color);
    transition: .3s linear;

    -webkit-animation: rotate-vert-center 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: rotate-vert-center 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

/* rodapé */
footer {
    padding: 2.4rem 0;
    text-align: center;
}

/* responsividade | media queries */
@media (min-width: 70rem) {
    :root {
        --bg-url: url(./assets/bg-desktop.jpg);
    }

    .light-mode {
        --bg-url: url(./assets/bg-desktop-light.jpg);
    }
}

/* animações  */
@keyframes slide-in {
    from {
        left: 0;
    }
    to {
        left: 50%;
    }
}

@keyframes slide-back {
    from {
        left: 50%;
    }
    to {
        left: 0;
    }
}

/* animação para sacudir botões */
@-webkit-keyframes shake-horizontal {
    0%,
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }
    80% {
      -webkit-transform: translateX(8px);
              transform: translateX(8px);
    }
    90% {
      -webkit-transform: translateX(-8px);
              transform: translateX(-8px);
    }
  }
  @keyframes shake-horizontal {
    0%,
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }
    80% {
      -webkit-transform: translateX(8px);
              transform: translateX(8px);
    }
    90% {
      -webkit-transform: translateX(-8px);
              transform: translateX(-8px);
    }
  }

  /* Animação de texto */
  @-webkit-keyframes focus-in-contract-bck {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(300px);
              transform: translateZ(300px);
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(12px);
              transform: translateZ(12px);
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  @keyframes focus-in-contract-bck {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(300px);
              transform: translateZ(300px);
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(12px);
              transform: translateZ(12px);
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  

  /* animação dos links das redes sociais */
  @-webkit-keyframes rotate-vert-center {
    0% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
    }
    100% {
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
    }
  }
  @keyframes rotate-vert-center {
    0% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
    }
    100% {
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
    }
  }

  /* animações para background */
@-webkit-keyframes color-change-3x {
  0% {
    background: #023544;
  }
  50% {
    background: #021441;
  }
  100% {
    background: #19012b;
  }
}
@keyframes color-change-3x {
  0% {
    background: #023544;
  }
  50% {
    background: #021441;
  }
  100% {
    background: #19012b;
  }
}

/* animações bg-light*/
@-webkit-keyframes color-change-3x-light {
  0% {
    background: #cddfe6;
  }
  50% {
    background: #afbee2;
  }
  100% {
    background: #d3acec;
  }
}
@keyframes color-change-3x-light {
  0% {
    background: #cddfe6;
  }
  50% {
    background: #afbee2;
  }
  100% {
    background: #d3acec;
  }
}

  
